@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&family=Bellefair&family=Barlow:wght@200;300;400;500;600;700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

body {
  background: rgba(4, 12, 24, 1) 100%;
}

#__next {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    103.22deg,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #040c18;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 10px;

  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    #042c54 85%,
    #1b78de 100%
  );
}

.ai .message {
  color: #ae67fa;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: white;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}
